h1 {
    text-align: center;
}
input[type="button"] {
    width: 50%;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: rgb(4, 164, 127);
    text-align: end;
    color: rgb(1, 1, 1);
    margin: 2px;
    border: 1px solid black;
}
table{
    text-align: center;
    background-color: rgba(0, 161, 164, 0.349);
    color: white;
    margin: 2px;
    border: 1px solid black;
}
.calc{
    align-items: center;
    margin-left: 35%;
}